:root {
  --primary-color: #9b59b6;
  --secondary-color: #f1f2f6;
  --details-color: #a5b1c2;
  --title-color: #82589F;
  --description-color: #2c3e50;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}